.presentation-card {
  border: $primary;
}

.presentation-card-image {
  width: 15rem;
  height: 15rem;
  background-color: #2bffc6;
  border-radius: 15px;
}

.client-card {
  width: 5rem;
  height: 5rem;
  background-color: $gray-500;
  border-radius: 15px;
  box-shadow: $background-shadow-small;
  background-image: url('~@/assets/icons/construction.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.card {
  border-radius: 15px;
}

.card-body {
  text-align: left;
  border: none;
}

.card-img {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 25%;
}
