.sticky-navbar {
  background-color: $gray-100;
  box-shadow: 0 .063rem .625rem 0 rgba(0,0,0,.2);
  position: sticky;
  top: 0;
  z-index: 300;
}

.navbar-logo {
  background-repeat: no-repeat;
  width: 10rem;
}

.hide-navbar-items {
  @media (max-width: 992px) {
    display: none !important;
  }
}