.sticky-navbar {
  background-color: white;
  box-shadow: 0 .063rem .625rem 0 rgba(0,0,0,.2);
  position: sticky;
  top: 0;
  z-index: 300;
}

.full-page-overlay {
  &.show-overlay {
    visibility: visible;
    opacity: 1;
  }
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 200;
  will-change: opacity;
  transition: opacity 1s;
  top: 0;
  right: 0;
  background-color: $primary;
  overflow-x: hidden;
  opacity: 0;

  a {
    padding: 8px;
    text-decoration: none;
    //font-size: 36px;
    color: #818181;
    display: block;
  }

  a:hover, a:focus {
    color: #f1f1f1;
  }

  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  @media screen and (max-height: 450px) {
    .a {font-size: 20px}
    .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.hide-navbar-items {
  @media (max-width: 992px) {
    display: none;
  }
}