$hamburger-size: 30px;

@import "variables/variables";
@import "variables/shadows";
@import "components/buttons";
@import "components/header";
@import "components/footer";
@import "components/overlay";
@import "components/card";
@import "~delicious-hamburgers/scss/hamburgers";

@import "pages/index";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-weight: 300;
}