$hamburger-size: 30px;

@import "variables/variables";
@import "variables/shadows";
@import "components/buttons";
@import "components/header";
@import "components/form";
@import "components/footer";
@import "components/overlay";
@import "components/card";
@import "~delicious-hamburgers/scss/hamburgers";

@import "pages/index";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-weight: 300;
}

.grey-section {
  background-color: $gray-200;
  position: relative;
  display: grid;
}

.grey-section:before {
  content: "";
  background-color: $gray-200;
  position: absolute;
  height: 100%;

  //messes up overlay
  //width: 200vw;
  //left: -100vw;
  z-index: -1;
}
