.background-shadow-tiny {
  box-shadow: $background-shadow-tiny;
}

.background-shadow-small {
  box-shadow: $background-shadow-small;
}

.background-shadow-medium {
  box-shadow: $background-shadow-medium;
}

.background-shadow-heavy {
  box-shadow: $background-shadow-heavy;
}

.background-shadow-heaviest {
  box-shadow: $background-shadow-heaviest;
}

.background-shadow-small-to-heavy {
  box-shadow: $background-shadow-small;
  transition: box-shadow 0.3s ease-in-out;
}

.background-shadow-small-to-heavy:hover {
  box-shadow: $background-shadow-heavy;
}